@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

:root {
  /* --dark: rgb(21, 21, 21); */
  --dark: rgb(11, 11, 11);
  --white: #f0f0f0;
  --highlightColor: #35ffa1;
  --bodyFont: 'Almarai', 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --hightlightFont: 'Libre Caslon Display', serif;
  --tw: 77vw;
  --tw2: 95vw;
}
h1 {
  font-size: 4vw;
}
h2 {
  font-size: 3vw;
  position: relative;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--bodyFont);
  text-transform: uppercase;
  scroll-behavior: smooth;
}
body {
  background-color: var(--dark);
  color: var(--white);
  overscroll-behavior: none;
}
a {
  text-decoration: none;
  color: var(--dark);
}
.siteContainer {
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  /* scroll-snap-type: y proximity;
  overflow-y: scroll; */
}
header nav a,
.logo a,
#copyright,
.socials a,
.footerLinkContainer {
  font-size: 1.125;
  color: var(--dark);
}
/* Preloader */
.preloader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark);
  z-index: 9999;
  text-align: center;
  pointer-events: none;
  opacity: 1;
  -webkit-transition: 700ms all ease;
  -o-transition: 700ms all ease;
  transition: 700ms all ease;
}
.preloader img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60%;
}

/* Navigation */
.mobileMenuContainer {
  display: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1vw 3%;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* mix-blend-mode: difference; */
  -webkit-transition: top 300ms ease-in-out;
  -o-transition: top 300ms ease-in-out;
  transition: top 300ms ease-in-out;
  z-index: 100;
  font-size: 1.25vw;
  background: rgba(256, 256, 256, 0.1);
}
header a {
  color: var(--white);
}

header nav span {
  font-family: var(--hightlightFont);
  font-size: clamp(0.75rem, 0.5vw, 1rem);
}
header nav a {
  margin: 0 15px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  padding: 5px;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
header nav a:hover {
  color: var(--highlightColor);
}
.logo {
  font-weight: 900;
  position: relative;
  /* font-size: 1vw; */
}
.logo a:hover {
  color: var(--highlightColor);
}
.logo::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -0px;
  left: 0;
  height: 2px;
  background-color: var(--highlightColor);
  opacity: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.logo:hover::after {
  opacity: 1;
  bottom: -5px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.socials a:hover {
  color: var(--highlightColor);
}
.socials a:first-child {
  margin-right: 1em;
}

/* Main */

main {
  margin: 0px 0;
}

/* Video */
.heroSection {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* scroll-snap-align: start; */
}
@-webkit-keyframes colorRotation {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg) saturate(200%);
    filter: hue-rotate(360deg) saturate(200%);
  }
}
@keyframes colorRotation {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg) saturate(200%);
    filter: hue-rotate(360deg) saturate(200%);
  }
}
.heroSection img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 99;
  filter: saturate(200%) hue-rotate(2500deg);
  /* -webkit-animation: colorRotation 1s infinite;
  animation: colorRotation 1s infinite; */
}

.heroSection video {
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#about,
#contact,
#work {
  padding: 5% 3%;
  /* scroll-snap-align: start; */
}

/* About */

#about h1 {
  position: relative;
  transform: rotate(-90deg);
}
#about h1::before {
  content: '001.';
  font-family: var(--hightlightFont);
  font-style: italic;
  position: absolute;
  font-size: 2vw;
  bottom: 100%;
}
#slogan {
  width: 50%;
  font-weight: 200;
  font-size: 3vw;
  line-height: 4vw;
}
#slogan p {
  font-family: var(--hightlightFont) !important;
  font-style: italic;
}
#slogan a {
  color: var(--highlightColor);
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
  -webkit-transition: 1000ms all ease;
  -o-transition: 1000ms all ease;
  transition: 1000ms all ease;
  font-family: var(--hightlightFont) !important;
  font-style: italic;
}
#slogan a:hover {
  text-shadow: 0 0 2px var(--highlightColor), 0 0 5px var(--highlightColor),
    0 0 20px var(--highlightColor);
  -webkit-filter: hue-rotate(360deg);
  filter: hue-rotate(360deg);
  -webkit-animation: colorRotation 3s infinite;
  animation: colorRotation 3s infinite;
}

/* Work */
#work {
  position: relative;
  padding: 0;
  width: 100%;
}

#work h1 {
  position: relative;
  transform: rotate(-90deg);
}
#work a {
  color: var(--white);
  color: var(--dark);
  font-size: clamp(1rem, 2vw, 2rem);
  position: relative;
  text-decoration: underline;
  left: 50%;
  transition: 500ms all ease-in-out;
}

#work a:hover {
  letter-spacing: 0.5px;
}
#work a::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f061';
  transform-origin: bottom;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: clamp(1.5rem, 3vw, 4rem);
  margin-left: 3rem;
}
#work a:hover::after {
  content: '\f35a';
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: 500;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce-right;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
/* Bounce Right Animation */
@keyframes bounce-right {
  0% {
    transform: translate(0, -50%);
  }
  10% {
    transform: translate(0, -50%);
  }
  30% {
    transform: translate(30px, -50%);
  }
  50% {
    transform: translate(0, -50%);
  }
  57% {
    transform: translate(1px, -50%);
  }
  64% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
.projectsLinkContainer {
  background: var(--white);
  background: linear-gradient(-45deg, #43e97b 0%, #38f9d7 100%);
  background-size: 200% 200%;
  -webkit-animation: gradientBG 3s ease infinite;
  animation: gradientBG 3s ease infinite;
  padding: 5rem;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#work h1::before {
  content: '002.';
  font-family: var(--hightlightFont);
  font-style: italic;
  position: absolute;
  font-size: 2vw;
  bottom: 100%;
}
.nftContainer {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nftContainer h2 {
  font-family: var(--hightlightFont);
  font-style: italic;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  pointer-events: none;
  background: var(--dark);
}
.nftContainer h2::after {
  content: 'NFT Collectibles';
  font-family: var(--bodyFont);
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 100%;
  background: var(--dark);
}
.nft-item {
  width: calc(25% - 1rem);
  height: calc((45% - 1rem) * (5 / 4));
  /* border-radius: 5px; */
}
.nft-img {
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  transition: all 700ms;
}
.nft-img:hover {
  filter: hue-rotate(360deg);
  transform: scale(1.05);
}
.nft-item:first-of-type {
  transform: translateY(10%);
}
.nft-item:nth-of-type(3) {
  transform: translateY(-15%);
}
.nft-item:nth-of-type(4) {
  transform: translateY(5%);
}
.nft-item:nth-of-type(2) {
  transform: translateY(0);
}
.nft-item:first-of-type::before,
.nft-item:nth-of-type(4)::before {
  content: '"Kelly"';
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 50%;
  top: -12%;
  transform: translateX(-50%);
}
.nft-item:nth-of-type(4)::before {
  content: '"Butterfly"';
}

.nft-item:nth-of-type(3)::before,
.nft-item:nth-of-type(2)::before {
  content: '"Aiyden"';
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: -12%;
  transform: translateX(-50%);
}
.nft-item:nth-of-type(2)::before {
  content: '"Donna"';
}
#work h3 {
  width: 50%;
  margin: 4rem 0;
  text-align: right;
  padding: 2rem 0;
  border-bottom: 1px solid white;
}
/* Marquee */
.marquee {
  margin: 2rem 0;
  font-size: 4vw;
  overflow: hidden;
}
.marquee span {
  display: inline-block;
  white-space: nowrap;
  font-family: var(--hightlightFont);
  font-style: italic;
  width: var(--tw);
  text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor,
    calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
  will-change: transform;
  animation: marquee 20s linear infinite;
  animation-play-state: running;
}
#m2 {
  width: var(--tw2);
  text-shadow: var(--tw2) 0 currentColor, calc(var(--tw2) * 2) 0 currentColor,
    calc(var(--tw2) * 3) 0 currentColor, calc(var(--tw2) * 4) 0 currentColor;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Projects */
#title-projects {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  color: var(--white);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
.projectsSiteContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.slider-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 540vw;
  height: 100%;
  background-color: var(--dark);
  will-change: transform;
}
.slider-inner-one {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: space-around;
  will-change: transform;
}
.slider-inner-two {
  position: absolute;
  top: 40vh;
  left: 40vw;
  width: 120%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  will-change: transform;
}
.slider-main svg {
  width: 400px;
  height: 100%;
  padding: 20px;
  opacity: 0;
  will-change: transform;
  transition: all 0.5s ease-in-out;
}
.slider-main svg.active {
  opacity: 1;
}
.slider-main svg:hover {
  filter: hue-rotate(360deg);
}
.projectNavbar {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 2rem;
  top: 0;
  left: 0;
}
.projectNavbar a:hover {
  color: var(--highlightColor) !important;
}
.projectNavbar .logo::after {
  display: none;
}
.projectNavbar .logo a,
.projectNavbar nav a {
  color: var(--white);
  font-size: clamp(0.75rem, 1vw, 1.5rem);
}
.projectNavbar nav a {
  margin-right: 1rem;
}
.projectNavbar nav a:last-of-type {
  margin-right: 0;
}
.projectNavbar nav {
  padding-top: 1rem;
  border-top: 1px solid var(--white);
}

/* Contact */
#contact,
#about,
.nftSection {
  height: 100vh;
  width: 94%;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#contact h1 {
  position: relative;
  font-weight: bold;
  /* font-size: 3vw; */
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#contact h1::before {
  content: '003.';
  font-family: var(--hightlightFont);
  position: absolute;
  font-style: italic;
  bottom: 100%;
}
.contactContent {
  width: 50%;
}
.contactText {
  font-family: var(--hightlightFont);
  font-style: italic;
  position: relative;
  font-weight: 200;
  font-size: 2vw;
  line-height: 3vw;
  margin-bottom: 3vw;
}
.contactCTAContent::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -100%;
  height: 1px;
  background-color: var(--white);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.contactCTA {
  color: var(--white);
}
.contactCTA:hover {
  color: var(--highlightColor);
}
.contactCTAContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.contactCTAContent svg {
  margin-right: 2rem;
}
.contactCTAContent span {
  font-weight: bold;
  font-size: 2vw;
}

/* Footer */
#footerLine {
  margin: 3% 0;
  height: 1px;
  background: #111;
  border: none;
}
footer {
  margin: 2vw 6%;
}
footer h4 {
  margin-bottom: 12px;
}
.footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerLinkContainer {
  margin-bottom: 4rem;
}
.footerLinkContainer h4 {
  margin-bottom: 2em;
  color: var(--white);
}
.footerLinkContainer li {
  color: var(--white);
}
.footerLinkContainer:last-child {
  margin-right: 0;
}
.footerBottom {
  display: flex;
  justify-content: space-between;
}
.footerBottom a,
#copyright span {
  font-size: clamp(0.75rem, 0.75vw, 1rem);
}

/* Used to make sure font awesome icons render reliably */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.footerBottom a::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  margin-left: 0.75rem;
  transform-origin: bottom;
  position: absolute;
}
.footerBottom a:hover::after {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

/* Bounce Animation of Back to Top Arrow */
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-1px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

#copyright {
  font-weight: 200;
  font-size: 1vw;
  color: rgb(66, 66, 66);
}
footer ul {
  list-style: none;
  line-height: 1.6;
}
footer a {
  color: var(--white);
  -webkit-transition: 400ms color ease;
  -o-transition: 400ms color ease;
  transition: 400ms color ease;
}
footer ul li:first-child {
  margin-right: 1em;
}
footer a:hover {
  color: var(--highlightColor);
}

header nav a,
.logo a,
.socials a,
.footerLinkContainer {
  font-size: clamp(0.75rem, 1vw, 1rem);
}

/* Responsiveness + Other */
@media screen and(prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto;
  }
  .marquee span {
    animation-play-state: paused;
  }
}
/* Large Desktop Screens */

/* Tablet Size */
@media only screen and (max-width: 1024px) {
  /* Menu */
  header {
    padding-top: 1em;
    mix-blend-mode: normal;
  }
  header nav a {
    color: var(--white);
    font-style: normal;
  }

  .menuLinks {
    display: none;
  }
  .mobileMenuContainer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.95);
  }
  .mobileMenuLinks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobileMenuLinks a {
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    width: calc(100% / 3);
  }
  .mobileMenuLinks a:hover {
    background: var(--highlightColor);
    color: var(--dark);
  }
  .mobileMenuLinks a:nth-child(2) {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
  }
  /*  Preloader */
  .preloader img {
    width: 85%;
  }
  /* Hero Section */
  .heroSection {
    height: calc(100vh - 8vh);
  }
  .heroSection img {
    width: 85%;
  }
  /* About Section */
  #about,
  #contact,
  .nftSection {
    padding: 0 5%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #about h1,
  #contact h1,
  #work h1 {
    transform: rotate(0deg);
    font-size: 7vw;
    text-align: left;
    width: 100%;
  }
  #about h1::before,
  #contact h1::before,
  #work h1::before {
    font-size: 4vw;
  }
  #slogan {
    text-align: left;
    font-size: 4vw;
    width: 100%;
  }
  /* Work Section */

  .nft-item {
    height: calc((45% - 1rem) * (5 / 4));
  }
  .nftSection {
    padding-top: 10%;
  }
  .nftContainer {
    width: 100%;
  }
  .nftContainer h2 {
    top: 10%;
    left: 18%;
  }
  .nftContainer h2::before {
    display: none;
  }
  .nft-item:first-of-type::before {
    top: 112%;
  }

  /* Contact */

  .contactText {
    font-size: 3vw;
    line-height: 4vw;
  }
  .contactCTAContent span {
    font-size: 3vw;
  }
  /* Footer */
  footer {
    margin: 6rem 10% 0 10%;
  }
  #copyright {
    margin-bottom: 15vh;
    text-align: center;
    font-size: 1.5vw;
  }
}

/* Mobile Size */
@media only screen and (max-width: 768px) {
  /* General */

  #contact,
  #about,
  .nftSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100vh - 8vh);
  }
  h1,
  h2 {
    text-align: center;
  }
  h2 {
    font-size: 4vw;
  }
  h2::before {
    display: none;
  }

  /* Header Nav Section */

  header {
    padding: 4vw 5%;
  }

  /* About */

  #about {
    margin-bottom: 0%;
  }

  /* Work */
  .nftSection {
    height: 100%;
  }
  #work h1 {
    margin-bottom: 30vw;
  }
  .nftContainer {
    height: 100%;
    flex-wrap: wrap;
  }
  .nft-item {
    width: calc(43vw - 1.5rem);
    height: calc((43vw -1.5rem) * (5 / 4));
    margin-bottom: 2.5rem;
    overflow: hidden;
  }

  .nftContainer h2 {
    left: 23%;
    top: -15vw;
  }
  .nft-item:first-of-type {
    transform: translateY(0);
  }
  .nft-item:nth-of-type(3) {
    transform: translateY(0);
  }
  .nft-item:nth-of-type(4) {
    transform: translateY(0);
  }
  .nft-item:nth-of-type(2) {
    transform: translateY(0);
  }
  #work a {
    left: 0;
  }
  /* Contact Section */

  .contactContent {
    width: 100%;
  }
  .contactText,
  #slogan {
    font-size: 5.5vw;
    line-height: 6.5vw;
  }
  .contactText {
    margin-bottom: 15%;
  }
  .contactCTAContent svg {
    width: 7vw;
    height: 7vw;
    margin-right: 2em;
  }
  .contactCTAContent span {
    font-weight: bold;
    font-size: 5.5vw;
  }

  /* Footer */
  footer {
    margin-top: 4em;
  }
  #footerLine {
    display: none;
  }
  .footerLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .footerLinkContainer {
    margin-right: 0;
    margin-bottom: 4em;
  }
  footer .socials {
    display: none;
  }
  #copyright {
    font-size: 2vw;
  }
}
